

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Ubuntu' ;
    box-sizing: border-box;
}
.heading{
  font-family:'Silkscreen', cursive;
  
}
body{
    background-color: #56aaff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    animation: scroll 70s linear infinite;
    background-image: url(./bg1.jpg);
    background-size:cover;
    color:black;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
@keyframes scroll {
    100%{
     background-position:0px -3000px;
   }
  }
.container{
    background-image: url(./bg2.jpg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 500px;
    padding-bottom: 0px;
    padding-top: 80px; padding-bottom: 30px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 1.5em;
    text-align: center;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    animation: scroll 70s linear infinite;
}
.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-top: 18px;
    border: 2px solid #137afc;
    color: #fff;
    cursor: pointer;
    background-color:  #137afc;
    box-shadow: inset 0 0 0 0 #137afc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
  }
  
  button {
    background-color:#137afc;
    border: 0;
    padding: 10px 20px;
    font-weight: bolder;
    color:#fff;
    border-radius:5px ;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    border: 2px solid #137afc;
    box-shadow: inset 190px 0 0 0 #fff;
    color: #137afc;
  }
  
.container h1{
    font-size: 2.4em;
}
.container h3{
    font-size: 1.3em;
}
#dad_jokes{
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (max-width:550px) {
    .container{
        width: 90%;
    }
}
/* .foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fb,.twitter{
  width: 6rem;
  height: 2rem;
margin-bottom: -8rem;
border-radius: 6px;
}
.fb{
  margin-left: 7px;
}
#snap{
  margin-bottom: -6.2rem;
 margin-left: 3rem;
} */

.footer {
  width: 100%;
  color:#7500a3;
  padding-bottom :0px;
  margin-top: 69px;
  font-weight: 500;
}
.footerlasr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  font-weight: bold;
}

#credits {
  margin-top: 6.9px;
}

.fa.fa-heart {
  color:#7500a3;
}

.footer-social-media {
  font-size: 25px;
}
.social-icon {
  width: 40px;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.2s ease-in;
}
.fa-facebook:hover {
  color: rgb(20, 20, 231);
}
.fa-instagram:hover {
  color: rgb(173, 10, 160);
}
.fa-twitter:hover {
  color: rgb(47, 196, 255);
}
.fa-youtube:hover {
  color: rgba(223, 16, 16, 0.904);
}


@media only screen and (max-width: 600px) {
  .container{
    width: 80%;
  }
}


@media only screen and (min-width: 600px) {
  .container{
    width: 80%;
}
}


@media only screen and (min-width: 768px) {
  .container{
    width: 90%;
}
}


@media only screen and (min-width: 992px) {
  .container{
    width: 90%;
}
}


@media only screen and (min-width: 1200px) {
  .container{
    width: 100%;
}
}