

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.heading{
  font-family:'Pacifico', cursive;
  color: var(--heading-color);
  text-shadow: 2px 5px rgba(0, 0, 0, 0.2);
  
}
body{
    background: var(--background-color);
    margin: 0;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: #fff; */

    /* background-image: url(./bg1.jpg); */
    background-size:400% 400%;
    /* color:white; */
    /* height: 100vh;
    min-width: 360px;
    width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
/* #mode{
  width:30px;
  cursor:pointer;
} */
.maindiv{
  position:relative;
  top:30px;
} 

/* @keyframes scroll {
    100%{
     background-position:0px -3000px;
   }
  } */
.container{
    background-image: var(--background-image);
    display: flex;
    flex-direction: column;
    background-size: 200% 300%;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    padding-bottom: 0px;
    padding-top: 40px; padding-bottom: 30px;
    padding-left: 20px; padding-right: 20px;
    border-radius: 40px;
    flex-wrap: wrap;
    /* gap: 1.5em; */
    text-align: center;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    animation: scroll 70s linear infinite;
}
.container #dad_jokes, h3{
  color: var(--text-color);
  font-weight: 500;
}
.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-top: 18px;
    border:  1px solid var(--border-color);
    color: var(--button-text);
    cursor: pointer;
    padding: 10px 10px;
    background-color: var(--button-color);
    box-shadow: inset 0 0 0 0 #ff79c6;
    border-radius: 15px;
    font-size: 20px;
    font-weight:400;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
  }
  
  button:hover {
    border: 2px solid var(--border-color);
    box-shadow: inset 190px 0 0 0 #fff;
    color: var(--button-texta);
    text-shadow: 0.5px 0 black, -0.5px 0 black, 0 0.5px black,0 -0.5px black;
  }
  
.container h1{
    font-size: 2.4em;
}
.container h3{
    font-size: 1.3em;
}
#dad_jokes{
    font-size: 1.2em;
    padding: 0 20px;
}
:root {
  --background-color: linear-gradient(rgb(234,232,1),rgb(241,90,21),rgb(252,245,237));
    --text-color: #0d0d0ed8;
    --heading-color:black;
    --button-color: #fca311;
    --button-text: #0d0d0ed8;
    --border-color:#030303;
    --button-texta:#ff79c6;
    --background-image:url(./bg2.jpg);
}
html[data-theme='light'] {
  --background-color: linear-gradient(rgb(234,232,1),rgb(241,90,21),rgb(252,245,237));
    --text-color: #0d0d0ed8;
    --heading-color:black;
    --button-color: #fca311;
    --button-text: #0d0d0ed8;
    --border-color:#030303;
    --button-texta:#ff79c6;
    --background-image:url(./bg2.jpg);
}

html[data-theme='dark'] {
  --background-color: black;
    --text-color: #0d0d0ed8;
    --heading-color:#fff;
    --button-color: #308d46;
    --button-text: #fff;
    --border-color:#030303;
    --button-texta:#308d46;
    --background-image:url(./darkmode.webp);
}
[data-theme='light'] .d-block-light{
  display:block;
}
[data-theme='dark'] .d-block-dark{
  display:block !important;
}
[data-theme='light'] .d-block-dark{
  display:none;
} 
[data-theme='dark'] .d-block-light{
  display:none;
}

#theme-toggle{
  cursor:pointer;
  position:relative;
  top:30px;
  height:50px;
  width:50px;
  border-radius: 50%;
}

.wplink:visited{
  color:var(text-color);
}
.wplink{
  color:var(text-color);
}

@media screen and (max-width:550px) {
    .container{
        width: 90%;
    }
}
/* .foot{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fb,.twitter{
  width: 6rem;
  height: 2rem;
margin-bottom: -8rem;
border-radius: 6px;
}
.fb{
  margin-left: 7px;
}
#snap{
  margin-bottom: -6.2rem;
 margin-left: 3rem;
} */

.footer {
  width: 100%;
  color:var(--heading-color);
  padding-bottom :0px;
  margin-top: 69px;
  font-weight: 500;
}
.footerlasr {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  font-weight: bold;
  color:var(--heading-color);
}

#credits {
  margin-top: 6.9px;
}


.footer-social-media {
  font-size: 25px;
}
.social-icon {
  width: 40px;
  height: 40px;
  padding: 7px 0;
  text-align: center;
  border-radius: 50%;
  color:var(--heading-color);
  transition: all 0.2s ease-in;
}
.fa-facebook:hover {
  color: rgb(20, 20, 231);
}
.fa-instagram:hover {
  color: rgb(173, 10, 160);
}
.fa-twitter:hover {
  color: rgb(47, 196, 255);
}
.fa-youtube:hover {
  color: rgba(223, 16, 16, 0.904);
}
.fa-discord:hover{
  color: rgb(142, 76, 187);
}

/*
Extra small devices (phones,600px and down) */
@media only screen and (max-width: 600px) {
  .container{
    width: 80%;
  }
}

/*
 Small devices (portrait tablets and large phones,600px and up) */
@media only screen and (min-width: 600px) {
  .container{
    width: 80%;
}
}

/*
Medium devices (landscape tablets,768px and up) */
@media only screen and (min-width: 768px) {
  .container{
    width: 90%;
}
}

/*
Large devices (laptops/desktops,992px and up) */
@media only screen and (min-width: 992px) {
  .container{
    width: 90%;
}
}

/*
Extra large devices (large laptops and desktops,1200px and up) */
@media only screen and (min-width: 1200px) {
  .container{
    width: 100%;
}
}