@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Ubuntu' ;
    box-sizing: border-box;
}
body{
    background-color: #56aaff;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    animation: scroll 70s linear infinite;
    background-image: url(./bg1.jpg);
    background-size:cover;
    color:black;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}
@keyframes scroll {
    100%{
     background-position:0px -3000px;
   }
  }
.container{
    background-image: url(./bg2.jpg);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 500px;
    padding: 100px 20px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 1.5em;
    text-align: center;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
    animation: scroll 70s linear infinite;
}
.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-top: 18px;
    border: 2px solid #137afc;
    color: #fff;
    cursor: pointer;
    background-color:  #137afc;
    box-shadow: inset 0 0 0 0 #137afc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: ease-out 0.4s;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    -ms-transition: ease-out 0.4s;
    -o-transition: ease-out 0.4s;
  }
  
  button {
    background-color:#137afc;
    border: 0;
    padding: 10px 20px;
    font-weight: bolder;
    color:#fff;
    border-radius:5px ;
    cursor: pointer;
    font-size: 20px;
  }
  
  button:hover {
    border: 2px solid #137afc;
    box-shadow: inset 190px 0 0 0 #fff;
    color: #137afc;
  }
  
.container h1{
    font-size: 2.4em;
}
.container h3{
    font-size: 1.3em;
}
#dad_jokes{
    font-size: 1.2em;
    font-weight: bold;
}

@media screen and (max-width:550px) {
    .container{
        width: 90%;
    }
}
